body{
    background-color: beige;
}
.img-body{
    display: inline-block;
    float: none;
}
.img-box {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    position: relative;

}   
.pg-box {
    border: 2px solid black;
    position: relative;
    z-index: 1;
}
